{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<form action="{% url 'restaurant-list' %}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
</form>
<div class="row">
    {% for restaurant in restaurants %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if restaurant.logo %}
            <img class="card-img-top" src="{{restaurant.logo.url}}" alt="Hey Noob, look at me...">
          {% endif %}
          <button id="{{restaurant.id}}" class="btn btn-outline-primary {% if restaurant.id in fav_res %}text-warnging{% endif %}" onClick="fav({{restaurant.id}})"><i class="fas fa-heart"></i></button>
          <div class="card-body">
            <h5 class="card-title">{{restaurant.name}}</h5>
            <p class="card-text">{{restaurant.description|truncatechars:25}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'restaurant-detail' restaurant.id %}" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>
<script>
function fav(id){
  let button="#" +id;
  $.ajax({
    type:"GET",
    url:'/restaurants/'+id+'/favorite/',
    success: function(data){
      if(data.action==="favorite"){
        $(button).addClass('text-danger');
      }else{
         $(button).removeClass('text-danger');
      }
    },
    error: function(error){
      console.log(error)
    },
  })


}
</script>
{% endblock content %}

